
.fish {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8em;
    box-shadow: 5px 10px #D8DADA;
    background-color: rgb(255, 254, 254);
}

.fish__image {
    width: 8rem;
    height: 8rem;
}
.bordered {
    border: 1px solid rgb(226, 223, 223);
    padding: 30px;
}
.fish__name{
    text-align: center;
    font-size: 20px;
    
}
.fishButton {
    display: flex;
    justify-content: center;
}
.fishList{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(241, 240, 232);
}
.fish__section{
    display: flex;
    flex-wrap: wrap;
}
button {
    border: 1px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    align-content: center ;
  }