.tipList {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 20%;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(241, 240, 232);
}

.tip {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
